#gameContainer{
    margin: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

h1, h3{
    text-align: center;
}

#choices{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.choice{
    cursor: pointer;
}

#yourMove{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}

#resetBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#reset{
    border-radius: 10px;
    border: hidden;
    cursor: pointer;
}

#reset:hover{
    background-color: aliceblue;
}