* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80vh;
  padding-bottom: 20px;
}

.top {
  height: 150px;
  background-color: #f5f5f5;
  align-content: center;
}

.top > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gameRoundsContainer,
.resetBtn {
  font-size: 16px;
  font-weight: 600;
}

.gameRoundsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.roundsLeft {
  font-size: 14px;
  font-weight: 400;
}

.playerSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;
  cursor: pointer;
}

.playerSelection img {
  flex: 1;
}

.resetBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.resetBtn {
  height: 30px;
  width: 90px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #B21807;
  color: #f5f5f5;
  cursor: pointer;
}
