#gameContainer{
    margin: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

h1, h3{
    text-align: center;
}

#choices{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.choice{
    cursor: pointer;
}

#yourMove{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}
