#gameContainer{
    margin: 50px;
    padding: 25px;
}

h1, h3{
    text-align: center;
}

#gameBtns{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 300px;
}

button{
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.playBtn{
    height: fit-content;
    background-color: rgb(157, 178, 212);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playBtn:hover{
    background-color: rgb(134, 184, 220);
}